@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
:root{
  --purple:#834299;
  --pink:#F83292;
  --gradient:linear-gradient(90deg,var(--purple),var(--pink));
  --white:#ffffff;
  --black:#000000;
}
*::selection{
    color: var(--white);
    background:var(--black);
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    border: none;
}
body{
    background-color: #f9f9f9;
    width: 1063px;
}
header{
    position: fixed;
    top: 0%;left: 0%;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0 , .1);
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding: 1% 8%;
    z-index: 1000;
}
header .logo{
    font-weight: 500;
    font-size: 24px;
    color:var(--purple);
    margin-right: auto;
}
header .logo span{
    color: var(--pink);
}
header .nav-bar a{
    font-weight: 400;
    font-size: 17px;
    padding: 0 8px;
    color: var(--purple);
}
header .nav-bar a:hover{
    color: var(--pink);
    border-bottom: 2px solid var(--purple);
    padding-bottom: 1%;
}
header #menu-bar i{
    font-size: 25px;
    color: var(--purple);
    display: none;
}
header #menu-bar i:hover{
    color: var(--pink);
    cursor: pointer;
    transform: scale(1.1);
}
@media only screen and (max-width:450px) {
    header{
        padding: 2% 8%;
    }
    header .logo{
        font-size: 15px;
    }
    header .nav-bar a{
        font-size: 15px;
        display: block;
        margin: 3% 0;
        width: 22%;
    }
    header #menu-bar i{
        font-size: 17px;
        display: block;
    }
    header .nav-bar{
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        padding: 2% 7%;
        background: #ffffff;
        box-shadow: 0 .2rem 1rem rgba(0, 0, 0 , .1);
        border-top: 1px solid var(--pink);
    }
    
}
@media only screen and (min-width:450px) and (max-width:700px){
    header{
        padding: 2% 8%;
    }
    header .nav-bar{
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        padding: 2% 7%;
        background: #ffffff;
        box-shadow: 0 .2rem 1rem rgba(0, 0, 0 , .1);
        border-top: 1px solid var(--pink);
    }
    header .nav-bar a{
        display: block;
        font-size: 20px;
        margin: 3% 0;
        width: 18%;
    }
    header #menu-bar i{
        display: block;
        font-size: 25px;
    }
}

@media only screen and (min-width:700px) and (max-width:900px){
    header .nav-bar a{
        font-size: 16px;
    }
    header .logo{
        font-size: 22px;
    }
}