@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
:root{
  --purple:#834299;
  --pink:#F83292;
  --gradient:linear-gradient(90deg,var(--purple),var(--pink));
  --white:#ffffff;
  --black:#000000;
}
*::selection{
    color: var(--white);
    background:var(--black);
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    border: none;
}
section{
    min-height: 100vh;
}
body{
    background-color: #f9f9f9;
    width: 1263px;
}
button{
    padding:10px 20px;
    border-radius: 20px;
    cursor: pointer;
    background: var(--gradient);
    align-items: center;
}
button:hover{
    transform: scale(1.1);
}
button a{
    font-size: 14px;
    color: var(--white);
    font-weight: 500;
}
.heading{
    background: var(--gradient);
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    padding-top:3%;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
section{
    min-height: 100vh;
    padding:0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}
header{
    position: fixed;
    top: 0%;left: 0%;
    width: 100%;
    background: var(--white);
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0 , .1);
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding: 1% 8%;
    z-index: 1000;
}
header .logo{
    font-weight: 500;
    font-size: 24px;
    color:var(--purple);
    margin-right: auto;
}
header .logo span{
    color: var(--pink);
}
header .nav-bar a{
    font-weight: 400;
    font-size: 15px;
    padding: 0 8px;
    color: var(--purple);
}
header .nav-bar a:hover{
    color: var(--pink);
    border-bottom: 2px solid var(--purple);
    padding-bottom: 1%;
}
header #menu-bar i{
    font-size: 25px;
    color: var(--purple);
    display: none;
}
header #menu-bar i:hover{
    color: var(--pink);
    cursor: pointer;
    transform: scale(1.1);
}
.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(Images/home-bg-img.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5% 8%;
}
.home .image img{
    width: 500px;
}
.home .container{
    width: 415px;
}
.home .container h2{
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
}
.home .container h2 span{
    color: var(--pink);
    text-transform: uppercase;
}
.home .container p{
    color: var(--black);
    font-weight: 400;
    line-height: 25px;
    font-size: 15px;
    padding-top:7px ;
}
.home .container .btn{
    padding-top: 5%;
}
.features{
    margin: 0% 4%;
}
.features .box-container{
    display: flex;
    align-items: center;
    margin: 3% 0%;
}
.features .box-container .box{
    background: var(--white);
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0 , .1);
    border-radius: 5px;
    border: 3px solid rgba(0, 0, 0 , .1);
    text-align: center;
    padding: 2%;
    margin: 0 1%;
}
.features .box-container .box img{
    height: 120px;   
}
.features .box-container .box h3{
    font-size: 16px;
    color: var(--black);
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding-top: 6px;
}
.features .box-container .box p{
    font-size: 13px;
    font-weight: 400;
    color: #666;
    padding-top: 6px;
    text-justify: justify;
}
.features .box-container .box .btn{
    padding-top: 5%;
}
.about{
    background: var(--white);
}
.about .colmun{
    display: flex;
    align-items: center;
    justify-content: space-between;   
    margin: 3% 8% 0% 8%;
}
.about .colmun .image img{
    width: 500px;
}
.about .colmun .content h3{
    font-size: 25px;
    color: #666;
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    width: 400px;
    line-height: 35px;
}
.about .colmun .content p{
    color: var(--black);
    font-weight: 400;
    line-height: 25px;
    font-size: 15px;
    padding-top:15px ;
    width: 450px;
}
.about .colmun .content .buttons{
    padding-top: 6%;
    display: flex;
    justify-content: center;
}
.about .colmun .content .buttons i{
    font-size: 17px;
}
.about .colmun .content .buttons .position{
    margin-left:15px
}
.Subscribe-for-new-features{
    text-align: center;
    padding: 3% 0% 2% 0%;
    background-position: center;
    background-size: cover;
    background: url(Images/subscribe-bg.png) no-repeat;
}
.Subscribe-for-new-features h2{
    text-transform: uppercase;
    color: var(--white);
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.10em;
}
.Subscribe-for-new-features p{
    margin: 7px auto;
    width: 45rem;
    color: #f9f9f9;
    font-weight: 400;
    font-size: 15px;
}
.Subscribe-for-new-features form{
    display: flex;
    margin: 2rem auto;
    border-radius: 2rem;
    border: .1rem solid var(--white);
    max-width: 35rem;
    height: 2.8rem;
}
.Subscribe-for-new-features input[type = "email"] {
    padding: 0 0 0 2rem;
    background: none;
    color: var(--white);
    font-size: 17;
    font-weight: 500;
    width: 100%;
}
.Subscribe-for-new-features input[type = "email"]::placeholder{
    color: var(--black);
    font-size: 15px;
    text-transform:capitalize ;
}
.Subscribe-for-new-features input[type="submit"]{
    background: var(--white);
    border-radius: 4rem;
    width: 10rem;
    cursor: pointer;
    font-size: 17px;
    color: #000000;
    font-weight: 500;
    margin: 2px 5px 2px 0px;
}
.Subscribe-for-new-features input[type="submit"]:hover{
    background: var(--gradient);
    color: var(--white);
}
.review{
    margin: 0 4%;
}
.review .box-container{
    display: flex;
    align-items: center;
    margin: 3% 0%;
}
.review .box-container .box{
    background: var(--white);
    text-align: center;
    position: relative;
    margin: 1rem;
    padding: 1rem 2rem;
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0 , .1);
    border: 3px solid rgba(0, 0, 0 , .1);
    border-radius: 5px;
}
.review .box-container .box .fa-quote-right{
    position: absolute;
    top: 0;
    right: 2rem;
    font-size: 5rem;
    color: var(--purple);
    opacity: .3;
}
.review .box-container .box .user img{
    border-radius: 50%;
    object-fit: cover;
    width: 6rem;
    height: 6rem;
    margin-top: 2rem;
}
.review .box-container .box .user h3{
    color: var(--pink);
    font-size: 1rem;
}
.review .box-container .box .stars{
    color: var(--purple);
    font-size: 1rem;
    padding: 4px 0px 0px 0px;
}
.review .box-container .box .paragraphe{
    font-size: 13px;
    font-weight: 400;
    color: #666;
    padding-top: 6px;
    text-justify: justify;
}
.pricing{
    background:#FDFFFA ;
}
.pricing .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3% 0%;
}
.pricing .box-container .box{
    background: var(--white);
    text-align: center;
    margin: 1rem;
    padding: 1rem 2rem;
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0 , .1);
    border: 3px solid rgba(0, 0, 0 , .1);
    border-radius: 5px;
    padding-bottom: 3rem;
}
.pricing .box-container .box:hover {
    border: 2px solid var(--pink);
}
.pricing .box-container .box .title{
    color: var(--purple);
    font-size: 1.3rem;
}
.pricing .box-container .box .price {
    color: var(--pink);
    font-size: 1.6rem;
    padding: 5px 0;
}
.pricing .box-container .box .price span {
    font-size: 1rem;
    color: var(--purple);
}
.pricing .box-container .box ul {
    list-style: none;
    padding-top: 10px;
}
.pricing .box-container .box ul li{
    font-size: 1rem;
    color: #666;
    padding: 2px 0;
}
.pricing .box-container .box ul li .fa-check{
    color: forestgreen;
    font-size: 17px;
}
.pricing .box-container .box ul li .fa-xmark{
    color: red;
    font-size: 17px;
}
.pricing .box-container .box .butt{
    padding-top: 2rem;
}
.contact{
    display: flex;
    align-items: center;
    margin: 5% 8% 4% 8%;
}
.contact .image img{
    width: 80%;
}
.contact form{
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0 , .1);
    border: 3px solid rgba(0, 0, 0 , .1);
    border-radius: 5px;
    padding: 2rem 4rem;
    background: var(--white);
}
.contact form .heading{
    text-align: left;
    padding: 0px 0px 1rem 0px;
}
.contact form .inputbox input, .contact form .inputbox textarea{
    width: 100%;
    background: none;
    color: #666;
    border-bottom: 1.5px solid var(--purple);
    margin: 10px 0;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
}
.contact form .inputbox textarea{
    height: 130px;
    resize: none;
}
.contact form .inputbox label{
    position: absolute;
    left: 0;
    font-size: 15px;
    color: #666;
    top: 1.5rem;
    transition: 2s linear;
}
.contact form .inputbox{
    position: relative;
}
.contact form .inputbox input:focus ~ label,
.contact form .inputbox textarea:focus ~ label,
.contact form .inputbox textarea:valid ~ label,
.contact form .inputbox input:valid ~ label {
    top: -5px;
    color: var(--pink);
    font-size: 16px;

}
.contact form input[type="submit"]{
    background: var(--pink);
    border-radius: 4rem;
    cursor: pointer;
    font-size: 17px;
    padding: 8px 20px;
    color: #000000;
    font-weight: 500;
}
.contact form input[type="submit"]:hover{
    background: var(--gradient);
    color: var(--white);
}
.contact form .btn{
    margin-top:9px ;

}
footer{
    text-align: center;
    background: var(--gradient);
    padding: 2% 0;
}
footer p{
    font-size: 18px;
    color: var(--white);
    font-weight: 500;
    letter-spacing: 0.12em;
}
footer p a{
    color: var(--black) ;
    font-size: 17px;
    cursor: pointer;
}
footer p a:hover{
    text-decoration:underline ;
    color: var(--white);
}
@media only screen and (max-width:600px){
    header .nav-bar a{
        display: block;
        margin: 1rem;
        font-size: 17px;
        color: var(--white);
        font-weight: 500;
    }
    header .nav-bar a:hover{
        width: 10%;
        border-bottom: none;
    }
    header .nav-bar{
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        background: var(--gradient);
        border-top: 2px solid var(--black);
        padding: 2rem 4rem;
        box-shadow: 0 .2rem 1rem rgba(0, 0, 0 , .1);
    }
    header #menu-bar i{
        display: initial;
    }
    header{
        padding: 2% 8%;
    }
    .nav-bar{
        display: none;
    }
    .nav-bar.open{
        display: block;
    }
    .home{
        flex-direction: column-reverse;
    }
    .home .image img{
        width: 100%;
    }
  
}
